CSS Multi-column Layout
The CSS multi-column layout allows easy definition of multiple columns of text - just like in newspapers:

Daily Ping
Lorem ipsum
dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.

CSS Multi-column Properties
In this chapter you will learn about the following multi-column properties:

column-count
column-gap
column-rule-style
column-rule-width
column-rule-color
column-rule
column-span
column-width
ADVERTISEMENT

CSS Create Multiple Columns
The column-count property specifies the number of columns an element should be divided into.

The following example will divide the text in the <div> element into 3 columns:

Example
div {
  column-count: 3;
}
CSS Specify the Gap Between Columns
The column-gap property specifies the gap between the columns.

The following example specifies a 40 pixels gap between the columns:

Example
div {
  column-gap: 40px;
}
CSS Column Rules
The column-rule-style property specifies the style of the rule between columns:

Example
div {
  column-rule-style: solid;
}
The column-rule-width property specifies the width of the rule between columns:

Example
div {
  column-rule-width: 1px;
}
The column-rule-color property specifies the color of the rule between columns:

Example
div {
  column-rule-color: lightblue;
}
The column-rule property is a shorthand property for setting all the column-rule-* properties above.

The following example sets the width, style, and color of the rule between columns:

Example
div {
  column-rule: 1px solid lightblue;
}
Specify How Many Columns an Element Should Span
The column-span property specifies how many columns an element should span across.

The following example specifies that the <h2> element should span across all columns:

Example
h2 {
  column-span: all;
}
Specify The Column Width
The column-width property specifies a suggested, optimal width for the columns.

The following example specifies that the suggested, optimal width for the columns should be 100px:

Example
div {
  column-width: 100px;
}
